build
*.so
*.egg-info/
__pycache__/
dist/
*perf.csv
*.png
*.csv
*.html
/.vscode
compile_commands.json
.cache
/dev
debug.log
deprecated

*.log
*.ncu-rep
benchmark_results
*.nsys-rep
*.sqlite

*.txt

tmp

.claude/settings.json
cula/_version.py
.venv
.venv2
